In [4]:
import pandas as pd

In [21]:
##series
ser = pd.Series(['a','b','c',3])   ##series 객체 index / value
ser

0    a
1    b
2    c
3    3
dtype: object

In [8]:
ser.values

array(['a', 'b', 'c', 3], dtype=object)

In [9]:
ser.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
ser2 = pd.Series(['a', 'b', 'c', 3], index=['i','j','k','h'])
ser2

i    a
j    b
k    c
h    3
dtype: object

In [12]:
ser2.index = ['Jhon', 'Steve', 'Jack', 'Bob']
ser2

Jhon     a
Steve    b
Jack     c
Bob      3
dtype: object

In [13]:
ser2.index

Index(['Jhon', 'Steve', 'Jack', 'Bob'], dtype='object')

In [14]:
Country_PhoneNumber = {'Korea': 82, 'America': 1, 'Swiss': 41, 'Italy': 39, 'Japan': 81, 'China': 86, 'Rusia': 7}
ser3 = pd.Series(Country_PhoneNumber)
ser3

Korea      82
America     1
Swiss      41
Italy      39
Japan      81
China      86
Rusia       7
dtype: int64

In [17]:
ser3['Korea']

82

In [18]:
ser3['Italy':]

Italy    39
Japan    81
China    86
Rusia     7
dtype: int64

In [19]:
ser3.name = 'Country_PhoneNumber'
ser3.index.name = 'Country_Name'
ser3

Country_Name
Korea      82
America     1
Swiss      41
Italy      39
Japan      81
China      86
Rusia       7
Name: Country_PhoneNumber, dtype: int64

In [20]:
##data_frame

In [22]:
data = {'Region' : ['Korea', 'America', 'Chaina', 'Canada', 'Italy'],
        'Sales' : [300, 200, 500, 150, 50],
        'Amount' : [90, 80, 100, 30, 10],
        'Employee' : [20, 10, 30, 5, 3]
        }
s = pd.Series(data)
s

Region      [Korea, America, Chaina, Canada, Italy]
Sales                      [300, 200, 500, 150, 50]
Amount                        [90, 80, 100, 30, 10]
Employee                         [20, 10, 30, 5, 3]
dtype: object

In [24]:
s = pd.DataFrame(data)
s

    Region  Sales  Amount  Employee
0    Korea    300      90        20
1  America    200      80        10
2   Chaina    500     100        30
3   Canada    150      30         5
4    Italy     50      10         3

In [26]:
s.columns

Index(['Region', 'Sales', 'Amount', 'Employee'], dtype='object')

In [27]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [28]:
s.index=['one','two','three','four','five']
s.columns = ['a','b','c','d']
s

             a    b    c   d
one      Korea  300   90  20
two    America  200   80  10
three   Chaina  500  100  30
four    Canada  150   30   5
five     Italy   50   10   3

In [29]:
##6-13 eda

In [30]:
import pandas as pd
import os

csv_path = os.getenv("HOME") + "/aiffel/data_represent/data/covid19_italy_region.csv"
data = pd.read_csv(csv_path)
type(data)

pandas.core.frame.DataFrame

In [31]:
data

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,5
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,2,2020-02-24T18:00:00,ITA,4,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,1
3,3,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,1
4,4,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,793,2020-04-01T17:00:00,ITA,9,Toscana,43.769231,11.255889,1120,297,1417,3015,4432,259,182,253,4867,36575
794,794,2020-04-01T17:00:00,ITA,4,P.A. Trento,46.068935,11.121231,345,76,421,1062,1483,124,214,173,1870,7675
795,795,2020-04-01T17:00:00,ITA,10,Umbria,43.106758,12.388247,173,45,218,646,864,17,194,37,1095,9080
796,796,2020-04-01T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,85,27,112,428,540,3,32,59,631,1717
797,797,2020-04-01T17:00:00,ITA,5,Veneto,45.434905,12.338452,1718,350,2068,6156,8224,470,902,499,9625,112746

In [32]:
data.head()

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,5
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,2,2020-02-24T18:00:00,ITA,4,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,1
3,3,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,1
4,4,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,10

In [33]:
data.tail()

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
793,793,2020-04-01T17:00:00,ITA,9,Toscana,43.769231,11.255889,1120,297,1417,3015,4432,259,182,253,4867,36575
794,794,2020-04-01T17:00:00,ITA,4,P.A. Trento,46.068935,11.121231,345,76,421,1062,1483,124,214,173,1870,7675
795,795,2020-04-01T17:00:00,ITA,10,Umbria,43.106758,12.388247,173,45,218,646,864,17,194,37,1095,9080
796,796,2020-04-01T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,85,27,112,428,540,3,32,59,631,1717
797,797,2020-04-01T17:00:00,ITA,5,Veneto,45.434905,12.338452,1718,350,2068,6156,8224,470,902,499,9625,112746

In [34]:
data.head(3)

,SNo,Date,Country,RegionCode,RegionName,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
0,0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,5
1,1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,2,2020-02-24T18:00:00,ITA,4,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,1

In [35]:
data.columns

Index(['SNo', 'Date', 'Country', 'RegionCode', 'RegionName', 'Latitude',
       'Longitude', 'HospitalizedPatients', 'IntensiveCarePatients',
       'TotalHospitalizedPatients', 'HomeConfinement', 'CurrentPositiveCases',
       'NewPositiveCases', 'Recovered', 'Deaths', 'TotalPositiveCases',
       'TestsPerformed'],
      dtype='object')

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 798 entries, 0 to 797
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SNo                        798 non-null    int64
 1   Date                       798 non-null    object
 2   Country                    798 non-null    object
 3   RegionCode                 798 non-null    int64
 4   RegionName                 798 non-null    object
 5   Latitude                   798 non-null    float64
 6   Longitude                  798 non-null    float64
 7   HospitalizedPatients       798 non-null    int64
 8   IntensiveCarePatients      798 non-null    int64
 9   TotalHospitalizedPatients  798 non-null    int64
 10  HomeConfinement            798 non-null    int64
 11  CurrentPositiveCases       798 non-null    int64
 12  NewPositiveCases           798 non-null    int64
 13  Recovered                  798 non-null    int64
 14  Deaths                     798 non-null    int64
 15  TotalPositiveCases         798 non-null    int64
 16  TestsPerformed             798 non-null    int64
dtypes: float64(2), int64(12), object(3)
memory usage: 106.1+ KB

In [38]:
data.describe()

,SNo,RegionCode,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
count,798.00000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000,798.000000
mean,398.50000,10.190476,43.046293,12.225955,533.058897,82.596491,615.655388,674.998747,1290.654135,138.553885,205.706767,162.677945,1659.038847,7932.164160
std,230.50705,5.798698,2.490342,2.660615,1532.090841,190.735985,1719.508711,1627.086600,3282.834715,327.616052,1060.433732,700.264327,4945.629053,17067.087279
min,0.00000,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-17.000000,0.000000,0.000000,0.000000,0.000000
25%,199.25000,5.000000,41.125596,11.121231,5.000000,0.000000,6.000000,8.000000,14.250000,2.000000,0.000000,0.000000,14.250000,230.000000
50%,398.50000,10.000000,43.616760,12.388247,64.000000,16.000000,80.500000,109.000000,205.000000,32.000000,3.000000,6.000000,210.500000,1610.000000
75%,597.75000,15.000000,45.434905,13.768136,325.750000,71.750000,396.250000,552.750000,998.750000,117.750000,34.000000,55.750000,1110.750000,7493.000000
max,797.00000,20.000000,46.499335,16.867367,11927.000000,1342.000000,13269.000000,12496.000000,25765.000000,3251.000000,11415.000000,7593.000000,44773.000000,121449.000000

In [40]:
data.isnull().sum()

SNo                          0
Date                         0
Country                      0
RegionCode                   0
RegionName                   0
Latitude                     0
Longitude                    0
HospitalizedPatients         0
IntensiveCarePatients        0
TotalHospitalizedPatients    0
HomeConfinement              0
CurrentPositiveCases         0
NewPositiveCases             0
Recovered                    0
Deaths                       0
TotalPositiveCases           0
TestsPerformed               0
dtype: int64

In [41]:
data['RegionName'].value_counts()

Veneto                   38
Sicilia                  38
Calabria                 38
Marche                   38
Toscana                  38
Abruzzo                  38
Lombardia                38
P.A. Trento              38
Puglia                   38
Liguria                  38
Umbria                   38
Piemonte                 38
Friuli Venezia Giulia    38
Valle d'Aosta            38
P.A. Bolzano             38
Molise                   38
Lazio                    38
Sardegna                 38
Emilia-Romagna           38
Campania                 38
Basilicata               38
Name: RegionName, dtype: int64

In [42]:
data['Country'].value_counts()

ITA    798
Name: Country, dtype: int64

In [44]:
data['RegionName'].value_counts().sum()

798

In [45]:
data['Country'].value_counts().sum()

798

In [47]:
print(data['TotalPositiveCases'].sum())
print(data['TestsPerformed'].sum())
print(data['Deaths'].sum())
print(data['Recovered'].sum())

1323913
6329867
129817
164154

In [48]:
data.sum()

SNo                                                                     318003
Date                         2020-02-24T18:00:002020-02-24T18:00:002020-02-...
Country                      ITAITAITAITAITAITAITAITAITAITAITAITAITAITAITAI...
RegionCode                                                                8132
RegionName                   AbruzzoBasilicataP.A. BolzanoCalabriaCampaniaE...
Latitude                                                               34350.9
Longitude                                                              9756.31
HospitalizedPatients                                                    425381
IntensiveCarePatients                                                    65912
TotalHospitalizedPatients                                               491293
HomeConfinement                                                         538649
CurrentPositiveCases                                                   1029942
NewPositiveCases                                                        110566
Recovered                                                               164154
Deaths                                                                  129817
TotalPositiveCases                                                     1323913
TestsPerformed                                                         6329867
dtype: object

In [49]:
print(data['TestsPerformed'].corr(data['TotalPositiveCases']))
print(data['TestsPerformed'].corr(data['Deaths']))
print(data['TotalPositiveCases'].corr(data['Deaths']))

data.corr()

0.8555291657820236
0.7612209669865388
0.9752686683168025

,SNo,RegionCode,Latitude,Longitude,HospitalizedPatients,IntensiveCarePatients,TotalHospitalizedPatients,HomeConfinement,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
SNo,1.000000,-0.006385,0.004550,-0.009905,0.304934,0.356195,0.311208,0.424331,0.373320,0.290469,0.206334,0.251302,0.327629,0.427816
RegionCode,-0.006385,1.000000,-0.959568,0.652820,-0.288057,-0.321805,-0.292356,-0.275990,-0.289923,-0.316658,-0.205056,-0.218793,-0.267394,-0.271954
Latitude,0.004550,-0.959568,1.000000,-0.547164,0.232802,0.262618,0.236559,0.246010,0.245838,0.264146,0.168196,0.181795,0.224989,0.244442
Longitude,-0.009905,0.652820,-0.547164,1.000000,-0.259902,-0.279147,-0.262538,-0.208338,-0.240774,-0.270345,-0.180529,-0.197115,-0.226441,-0.158840
HospitalizedPatients,0.304934,-0.288057,0.232802,-0.259902,1.000000,0.980457,0.999762,0.923389,0.981327,0.912586,0.923919,0.944874,0.983282,0.809607
IntensiveCarePatients,0.356195,-0.321805,0.262618,-0.279147,0.980457,1.000000,0.984517,0.916971,0.970160,0.930570,0.876121,0.892060,0.958143,0.840098
TotalHospitalizedPatients,0.311208,-0.292356,0.236559,-0.262538,0.999762,0.984517,1.000000,0.924459,0.981982,0.916342,0.920400,0.940839,0.982391,0.814551
HomeConfinement,0.424331,-0.275990,0.246010,-0.208338,0.923389,0.916971,0.924459,1.000000,0.979855,0.831487,0.850907,0.896904,0.959858,0.928523
CurrentPositiveCases,0.373320,-0.289923,0.245838,-0.240774,0.981327,0.970160,0.981982,0.979855,1.000000,0.892083,0.903833,0.937337,0.990303,0.886860
NewPositiveCases,0.290469,-0.316658,0.264146,-0.270345,0.912586,0.930570,0.916342,0.831487,0.892083,1.000000,0.760710,0.775184,0.865022,0.755386
Recovered,0.206334,-0.205056,0.168196,-0.180529,0.923919,0.876121,0.920400,0.850907,0.903833,0.760710,1.000000,0.986324,0.954026,0.741827
Deaths,0.251302,-0.218793,0.181795,-0.197115,0.944874,0.892060,0.940839,0.896904,0.937337,0.775184,0.986324,1.000000,0.975269,0.761221
TotalPositiveCases,0.327629,-0.267394,0.224989,-0.226441,0.983282,0.958143,0.982391,0.959858,0.990303,0.865022,0.954026,0.975269,1.000000,0.855529
TestsPerformed,0.427816,-0.271954,0.244442,-0.158840,0.809607,0.840098,0.814551,0.928523,0.886860,0.755386,0.741827,0.761221,0.855529,1.000000

In [50]:
data.drop(['Latitude','Longitude','Country','Date','HospitalizedPatients',  'IntensiveCarePatients', 'TotalHospitalizedPatients','HomeConfinement','RegionCode','SNo'], axis=1, inplace=True)

data.corr()

,CurrentPositiveCases,NewPositiveCases,Recovered,Deaths,TotalPositiveCases,TestsPerformed
CurrentPositiveCases,1.000000,0.892083,0.903833,0.937337,0.990303,0.886860
NewPositiveCases,0.892083,1.000000,0.760710,0.775184,0.865022,0.755386
Recovered,0.903833,0.760710,1.000000,0.986324,0.954026,0.741827
Deaths,0.937337,0.775184,0.986324,1.000000,0.975269,0.761221
TotalPositiveCases,0.990303,0.865022,0.954026,0.975269,1.000000,0.855529
TestsPerformed,0.886860,0.755386,0.741827,0.761221,0.855529,1.000000

In [ ]:
##pandas 통계관련 메소드
    count(): NA를 제외한 수를 반환합니다.
    describe(): 요약통계를 계산합니다.
    min(), max(): 최소, 최댓값을 계산합니다.
    sum(): 합을 계산합니다.
    mean(): 평균을 계산합니다.
    median(): 중앙값을 계산합니다.
    var(): 분산을 계산합니다.
    std(): 표준편차를 계산합니다.
    argmin(), argmax(): 최소, 최댓값을 가지고 있는 값을 반환 합니다.
    idxmin(), idxmax(): 최소, 최댓값을 가지고 있는 인덱스를 반환합니다.
    cumsum(): 누적 합을 계산합니다.
    pct_change(): 퍼센트 변화율을 계산합니다.